@using Travel.Models.editoriales
@model Travel.Models.auxiliar.libroAutor

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>libro</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ISBN" />
            <div class="form-group">
                <label asp-for="editoriales_id" class="control-label">Editorial</label>
                <select asp-for="editoriales_id" data-val="true" data-val-required="The Editorial field is required." class="form-control">
                    <option value="null" selected hidden>seleccione...</option>
                    @foreach (editoriales item in ViewBag.editoriales)
                    {
                        <option value="@item.id">@item.nombre</option>
                    }
                </select>
                <span asp-validation-for="editoriales_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="titulo" class="control-label">Titulo</label>
                <input asp-for="titulo" maxlength="45" data-val="true" data-val-required="The Titulo field is required." class="form-control" />
                <span asp-validation-for="titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sinopsis" class="control-label">Sinposis</label>
                <input asp-for="sinopsis" data-val="true" data-val-required="The Sinposis field is required." class="form-control" />
                <span asp-validation-for="sinopsis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="n_paginas" class="control-label">Nro. Páginas</label>
                <input asp-for="n_paginas" maxlength="45" data-val="true" data-val-required="The Nro. Páginas field is required." class="form-control" />
                <span asp-validation-for="n_paginas" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top: 10px">
                <input type="submit" style="font-size: 10px" value="Save" class="btn btn-primary" />
                <a asp-action="Index" style="font-size: 10px" class="btn btn-primary"><i class="fa fa-arrow-rotate-back"></i> Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
